@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-24 lg:px-8 lg:py-10;
}

.btn-primary {
  @apply font-medium  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-8 md:py-3 m-2 text-lg rounded-xl   text-cyan-100 hover:bg-indigo-400 bg-gradient-to-r from-orange-800 via-orange-600 to-orange-300 inline-block;
}
.btn-outlined {
  @apply font-medium  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-8 md:py-3 m-2 text-sm rounded-xl  text-white bg-orange-600 hover:bg-orange-700 hover:border-transparent border-2 border-orange-600 ;
}
.active {
  @apply font-medium tracking-wide text-cyan-200 transition-colors duration-200 bg-gradient-to-r  from-orange-600 via-orange-500 to-orange-400 rounded-full;
}

.default {
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-600;
}
.text-color {
  @apply bg-gradient-to-r from-orange-700 via-orange-500 to-orange-300 text-transparent bg-clip-text;
}

.error {
  @apply text-red-500 text-sm m-0;
}
